.form {
  margin-top: 40px;
}

.list-container {
  flex-direction: column;
  border-bottom: 1px dotted black;
}

.comment-date {
  font-size: 10px;
}

.delete-btn {
  margin-bottom: 10px;
}
.submit-btn {
  margin: 10px;
}