.form {
  margin-top: 20px;
}

.css-u4tvz2-MuiFormLabel-root {
  margin-top: 10px;
}

.list-container {
  flex-direction: column;
  border-bottom: 1px solid black;
}
.comment-date {
  font-size: 10px;
}