.more-info {
  text-decoration: none;
  color: black;
  display:flex;
  justify-content: center;
}

@media screen and (min-width: 670px) {
  .movie-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .poster-img {
    height: auto;
  }
}
